
<html lang="en" ng-app="walletRecovery">
<head>
    <meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache, no-store">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- FB OG TAGS -->
    <meta property="og:title" content="Helperbit: wallet recovery tool"/>

    <!-- CLASSIC HTML TAGS -->
    <meta name="keywords" content="Bitcoin,P2P,Natural Disaster,cryptocurrency,charity,earthquake,donation,transparency,humanitarian,assistance,emergency,ngo,ingo,disaster management,emergency relief,flood,wildfire,tzunami,gis,insurtech">


    <link rel="icon" type="image/png" href="img/fav64black.png">

    <title>Helperbit: wallet recovery tool</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="bower_components/ng-file-upload-shim/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="bower_components/crypto-js/crypto-js.js"></script>
	<script type="text/javascript" src="bower_components/buffer/buffer.min.js"></script>
    <script type="text/javascript" src="lib/bitcoinjs.min.js"></script>
    <script type="text/javascript" src="lib/bip39.js"></script>
    <script type="text/javascript" src="js/wallet-recovery.js"></script>
</head>

<body ng-controller="RecoveryCtrl">
    <nav id="mymenu"  class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid"><div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#home"><img src="img/logo_white.svg" height="30px" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav hidden-sm hidden-xs" style="padding-left: 2em;">
            <li ng-class="{ active: tab == 'home' }"><a href="" ng-click="tab='home'">Home</a></li>
            <li ng-class="{ active: tab == 'user' }"><a href="" ng-click="switchTab ('user')">Single user</a></li>
            <li ng-class="{ active: tab == 'npo' }"><a href="" ng-click="switchTab ('npo')">Organization</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="background-color: #feb737;">
            <li class=""><a target="_blank" href="http://www.helperbit.com">About Helperbit</a></li>
        </ul>
        </div>
        </div>
    </nav>
    <div style="height: 70px"></div>


    <div class="modal fade" id="sentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Transaction sent</h4>
            </div>
            <div class="modal-body">
                The transaction was sent to the address {{transaction.address}}. You can see the transaction in any
                bitcoin block explorer <a href="https://chain.so/tx/BTC/{{transaction.txid}}" target="_blank">{{transaction.txid}}</a>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body" align="center">
                <i style="font-size:350%; color: #d01f2f;" class="fa fa-exclamation-triangle"></i>
                <br><br>
                <span ng-if="error.code == 'XWD'">Wrong destination address</span>
                <span ng-if="error.code == 'XWE'">Empty wallet</span>
                <span ng-if="error.code == 'XNB'">Error during transaction broadcast</span>
                <span ng-if="error.code == 'XNJ'">Can't load the file or this is not a backup file</span>
                <span ng-if="error.code == 'XNF'">Can't load the file</span>
                <span ng-if="error.code == 'XWM'">Wrong mnemonic</span>
                <span ng-if="error.code == 'XWP'">Wrong backup password</span>
                <span ng-if="error.code == 'XPL'">Not enough admins</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

	<div ng-include="'views/home.html'"></div>
	<div ng-include="'views/user.html'"></div>
	<div ng-include="'views/npo.html'"></div>

</body>
</html>
